.content-table{
    width: 100%;
    border: 1px solid #D1D2C0;
    font-size: 0.9em;
    height: 140px;
    border-collapse: collapse;
    color: #2c2c2c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

    
.content-table thead tr{
    background: #Ddd;
    color: #000;
    text-align: left;
    font-weight: bold;
}
.content-table td,
.content-table th{
    padding: 12px 15px;
    
}
.content-table tbody tr{
    border-bottom: 1px solid #ddd;

}
.content-table tbody tr:nth-of-type(even){
    background: #747373;
    color: #fcfcfc;
}

.content-table tbody tr:last-of-type{
    border-bottom: 3px solid #565658;
}