header{
    background:#EB772A;
    height: 60px;
    font-size: 26px;
    text-align: center;
    padding: 10px 30px;
    color: #EEFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 32px;
}

header button{
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}